
.idea/

Audit Scanner/bin/Debug/

packages/

Audit Scanner/obj/Debug/

Audit Scanner/Includes/SaltwaterTaffy/bin/Debug/

Audit Scanner/Includes/SaltwaterTaffy/obj/Debug/

Audit Scanner/Credentials.xlsx
